<div class="container theme-showcase">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 mb25">
				<h1>Коллекции</h1>
			</div>
		</div>


		<div class="row">

			{% for val in items %}
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 bord h50 mar0000 mar00rr">
				<a href="/collections/{{val.aliase}}">
					{% if val.image %}
					<p class="text-center"><img src="/uploads/collections/{{val.image}}"
												style="width: 160px; height: 145px;"></p>
					{% else %}
					<p class="text-center"><img src="/uploads/no-photo.png" style="width: 160px; height: 145px;"></p>
					{% endif %}
					<p class="text-center">{{val.title}}</p>
				</a>
			</div>
			{% endfor %}

		</div>
	</div>
</div>