
<div class="container theme-showcase mt10 hidden-xs" role="main">
	
    <!--<div class="col-xs-12 col-sm-12 col-md-12  col-lg-6 mb30">	
        <div class=" bg1 h580">	
            <h1 class="Conv_constanb">Украшения из серебра</h1>
            <p class="Conv_CRC55 px18">Прекрасные изделия из серебра с  камнями: <br>
                более 2 000 моделей на выбор!
                <br><br>
                <a href="/catalog/kolca?f[metall]=serebro0&s=pricemax&l=40&t=" class="btn-event Conv_Circe-Bold button hover-shadows" rel="hover-shadows">ПОДРОБНЕЕ</a>
			</p>
		</div>
	</div>-->
	
<!--
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-6 mt30">
        <div class=" bg2 h263 text-right">	
            <h1 class="Conv_Circe-ExtraBold">-25%</h1>
            <p class="Conv_CRC55 px18">На все золотые серьги<br><br>
			<a href="/catalog/sergi?f[metall]=JoltZoloto|krasnZoloto|belZoloto&s=upsells&l=40&t=" class="btn-event Conv_Circe-Bold hover-shadows" rel="hover-shadows">ПОДРОБНЕЕ</a></p>
		</div>
	</div>
    
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-6 mb30">	
        
        <div class=" bg3 h263 mt10">	
            <h1 class="Conv_Circe-ExtraBold">-30%</h1>
            <p class="Conv_CRC55 px18">На кольца с бриллиантами<br><br>
			<a href="/catalog/kolca?f[metall]=krasnZoloto&f[kamen]=brilliant&s=upsells&l=40&t=" class="btn-event Conv_Circe-Bold hover-shadows" rel="hover-shadows">ПОДРОБНЕЕ</a></p>
		</div>
	</div>
-->

	<div class="clearfix"></div>
	
	
	<!-- ####  ЛУКИ #### -->
	
	<div class=" col-lg-6">
	<div class=" row">
		<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">	
			<div class=" bg4 h580">	
				<h2 class="Conv_constanb blue_b">Колье  которые<BR> притягивают<BR> взгляд</h2>
				<p class="Conv_CRC55 px18">Подчеркните  свою <br> индивидуальность, <br>добавив образу ювелирное <br>колье 
					<br><br>
					<a href="/catalog/kole" class="btn-event_blue Conv_Circe-Bold button hover-shadows" rel="hover-shadows">ПОДРОБНЕЕ</a>
				</p>
			</div>
		</div>
		
		
<!--
		<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 mb30">
			<div class=" bg5 h263 text-right mt10">	
				<h1 class="Conv_Circe-ExtraBold">-40%</h1>
				<p class="Conv_CRC55 px18">Подвески на любой случай<br><br>
				<a href="/catalog/podveski" class="btn-event_blue Conv_Circe-Bold hover-shadows" rel="hover-shadows">ПОДРОБНЕЕ</a></p>
			</div>
		</div>
-->

		
	</div>
	</div>
    
	
	<div class=" col-lg-6 ">
	<div class=" row ">
	
	
			
<!--
		<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
			<div class=" bg7 h263 text-left">	
				<h1 class="Conv_Circe-ExtraBold">-35%</h1>
				<p class="Conv_CRC55 px18">На все золотые кольца <br>с камнями<br><br>
				<a href="/catalog/kolca?f[metall]=JoltZoloto|krasnZoloto|belZoloto&s=upsells&l=40&t=" class="btn-event_blue Conv_Circe-Bold hover-shadows" rel="hover-shadows">ПОДРОБНЕЕ</a></p>
			</div>
		</div>
-->

		<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">	
			<div class=" bg6 h580 text-right">
				<h2 class="Conv_constanb white">Повседневные <br> золотые   кольца</h2>
				<p class="Conv_CRC55 px18">Золотые кольца для <br>повседневного ношения, <br>не только подчеркивают<br> изящность, но и придают <br>роскошь 
					<br><br>
					<a href="/catalog/kolca?f[metall]=JoltZoloto|krasnZoloto|belZoloto&f[sex]=woman&s=pricemin&l=44" class="btn-event_blue Conv_Circe-Bold button hover-shadows" rel="hover-shadows">ПОДРОБНЕЕ</a>
				</p>
			</div>
		</div>
		
		
		
		
	</div>
	</div>
	
    
</div> <!-- /container -->

<div class="container theme-showcase mt10 visible-xs" role="main">
	
    <div class="col-xs-4 mb30">	
        <div class="text-center">	
			<a href="/catalog/kolca"> 
				<img src="/uploads/cats/kolco.jpg" width="90%"> 
				<h4>Кольца</h4>
			</a>
		</div>
	</div>
	
    <div class="col-xs-4 mb30">	
        <div class=" text-center">	
            <a href="/catalog/sergi">  <img src="/uploads/cats/sergi.jpg" width="90%"> 
				<h4>Серьги</h4>
			</a>
		</div>
	</div>
	
	
    <div class="col-xs-4 mb30">	
        <div class=" text-center">	
            <a href="/catalog/podveski">  <img src="/uploads/cats/podveska.jpg" width="90%"> 
				<h4>Подвески</h4>
			</a>
		</div>
	</div>
    
    <div class="col-xs-4 mb30">	
        <div class=" text-center">	
			<a href="/catalog/braslety">   <img src="/uploads/cats/braslet.jpg" width="90%"> 
				<h4>Браслеты</h4>
			</a>
		</div>
	</div>
    
    <div class="col-xs-4 mb30">	
        <div class=" text-center">	
			<a href="/catalog/brosh">   <img src="/uploads/cats/brosh.jpg" width="90%"> 
				<h4>Брошь</h4>
			</a>
		</div>
	</div>
    
    <div class="col-xs-4 mb30">	
        <div class=" text-center">	
			<a href="/catalog/kole">   <img src="/uploads/cats/kolie.jpg" width="90%"> 
				<h4>Колье</h4>
			</a>
		</div>
	</div>
    
    
    <!--div class="col-xs-4 mb30">	
        <div class=" text-center">	
		<img src="/uploads/cats/pirsing.jpg" width="90%"> 
		<h4>Пирсинг</h4>
        </div>
	</div-->
    
</div> <!-- /container -->