
<div class="container theme-showcase visible-lg" role="main" style="padding-top:28px; ">
    
    <hr>
    
    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3">
		
		
		<a href="/wiki/punkty-samovyvoza" class="btn-cart_default Conv_CRC55  btn-block text-center pl15_0 px13 clearfix mb15">
			<img src="/{{config_images_path}}/ico-footmaps.png"  class="mr5">Пункты самовывоза
		</a>
		
		<a href="/wiki/nashim-partneram" class="btn-cart_default Conv_CRC55  btn-block text-center  pl15_0 px13 mt15">
			<img src="/{{config_images_path}}/ico-partners.png" class="mr5"> Нашим партнерам
		</a>
		
	</div> 
    
    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-7 "> 
		<div class="pull-left">
			<strong class="Conv_CRC55 px17 clearfix">Сервис и поддержка:</strong> 
			<ul class="list-inline lh24 mt15">
				<li>
					<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/kak-sdelat-zakaz" class="fot_a">Как сделать заказ</a></span><br>
					<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/vozvrat-tovara" class="fot_a">Возврат товара</a></span><br>
					<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/dostavka" class="fot_a">Доставка</a></span><br> 
				</li>
				<li class="pl15">
					<span class="title1 Conv_CRC55"><a href="/wiki/podarochnye-sertifikaty" class="fot_a">Подарочные сертификаты</a></span><br>
					<span class="title1 Conv_CRC55"><a href="/wiki/sposoby-oplaty" class="fot_a">Способы оплаты</a></span><br>					
					<span class="title1 Conv_CRC55"><a href="/actions" class="fot_a">Акции</a></span><br>
				</li>
			</ul> 
		</div>
		
		<!--div class="pull-left ml20">
			<strong class="Conv_CRC55 px17 clearfix">О компании:</strong>
			<ul class="list-inline lh24 mt15">
				<li>
					<span class="title1 Conv_CRC55"><a href="/wiki/publichnaia-oferta" class="fot_a">Публичная оферта</a></span><br>
					<span class="title1 Conv_CRC55"><a href="/contacts" class="fot_a">Контакты</a></span><br> 
					<span class="title1 Conv_CRC55"><a href="/about" class="fot_a">О нас</a></span><br>
					</li>
				<li class="pl15">
					<span class="title1 Conv_CRC55"><a href="/wiki/nashi-partnery" class="fot_a">Наши партнеры</a></span><br>
					<span class="title1 Conv_CRC55"><a href="/wiki/optovaia-prodazha" class="fot_a">Оптовая продажа</a></span><br>
					<span class="title1 Conv_CRC55"><a href="/wiki/pokupka-v-kredit" class="fot_a">Покупка в кредит</a></span><br>
				</li>
			</ul> 
		</div--> 
		
		<div class="pull-left ml20">
			<strong class="Conv_CRC55 px17 clearfix">О компании:</strong>
			<ul class="list-inline lh24 mt15  pull-left">
				
				<li>
					<span class="title1 Conv_CRC55"><a class="fot_a" href="/wiki/publichnaia-oferta">Публичная оферта</a></span><br>
					<span class="title1 Conv_CRC55"><a class="fot_a" href="/contacts">Контакты</a></span><br> 
					<span class="title1 Conv_CRC55"><a class="fot_a" href="/about">О нас</a></span><br>
				</li>
				
			</ul>
			
			<ul class="list-inline lh24 mt15 pull-left  ml20">
				
				<li class="ml20">
					<img src="/templates/basic/images/money/sberbank-1.png">
					<img src="/templates/basic/images/money/visa-2.png">
					<img src="/templates/basic/images/money/alfabank-5.png"><br><div class="clearfix mt5"></div>
					<img src="/templates/basic/images/money/mastercard-3.png">
					<img src="/templates/basic/images/money/yandex-money-7.png">
					<img src="/templates/basic/images/money/qiwi-9.png">
				</li>
			</ul> 
		</div>
		
	</div> 
	
	
	
	
	<div class="col-xs-12 col-sm-6 col-md-4  col-lg-2 text-center">                                         
		<strong class="Conv_CRC55 px17 clearfix">Следуйте за нами</strong> 
            <ul class="ul_table mt15">
               <li><a href="https://vk.com/ivantopazov" target="_blank"><img src="/{{config_images_path}}/vk.png"></a></li>
               <li><a href="https://www.facebook.com/groups/311383402637001" target="_blank"><img src="/{{config_images_path}}/fb.png"></a></li>
			<!--li><img src="/{{config_images_path}}/twitter.png"></li-->
               <li><a href="https://www.instagram.com/yuvelirnie_ukrasheniya_topazov/" target="_blank"><img src="/{{config_images_path}}/instagram.png"></a></li>
               <br><br>
               <small class="px7 Conv_CRC55"><h6>Сайт разработан командой: <br><a href="https://vk.com/creativepeople_pw">Creativepeople</a></h6></small>
            </ul>
	</div>
	
</div> 



<!-- ### Мобильная версия -->	

<div class="container theme-showcase hidden-lg" role="main" style="padding-top:28px; ">
	
    
    <hr>
    
    <div class="col-xs-12 col-sm-12 col-md-3  col-lg-3 pb15">
		
		
		<a href="/wiki/punkty-samovyvoza" class="btn-cart_default Conv_CRC55  btn-block text-center pl15_0 px13 clearfix mb15">
			<img src="/{{config_images_path}}/ico-footmaps.png"  class="mr5">Пункты самовывоза
		</a>
		
		<a href="/wiki/nashim-partneram" class="btn-cart_default Conv_CRC55  btn-block text-center  pl15_0 px13 mt15">
			<img src="/{{config_images_path}}/ico-partners.png" class="mr5"> Нашим партнерам
		</a>
		
	</div> 
    
    <div class="col-xs-12 col-sm-12 col-md-9  col-lg-7 hidden-xs"> 
		<div class="pull-left">
			<strong class="Conv_CRC55 px17 clearfix">Сервис и поддержка:</strong> 
			<ul class="list-inline lh24 mt15">
				<li>
					<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/kak-sdelat-zakaz" class="fot_a">Как сделать заказ</a></span><br>
					<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/vozvrat-tovara" class="fot_a">Возврат товара</a></span><br>
					<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/dostavka" class="fot_a">Доставка</a></span><br> 
				</li>
				<li class="pl15">
					<span class="title1 Conv_CRC55"><a href="/wiki/podarochnye-sertifikaty" class="fot_a">Подарочные сертификаты</a></span><br>
					<span class="title1 Conv_CRC55"><a href="/wiki/sposoby-oplaty" class="fot_a">Способы оплаты</a></span><br>					
					<span class="title1 Conv_CRC55"><a href="/actions" class="fot_a">Акции</a></span><br>
				</li>
			</ul> 
		</div> 
		
		<!--div class="pull-right ml20">
			<strong class="Conv_CRC55 px17 clearfix">О компании:</strong>
			<ul class="list-inline lh24 mt15">
			<li>
			<span class="title1 Conv_CRC55"><a href="/wiki/publichnaia-oferta" class="fot_a">Публичная оферта</a></span><br>
			<span class="title1 Conv_CRC55"><a href="/contacts" class="fot_a">Контакты</a></span><br> 
			<span class="title1 Conv_CRC55"><a href="/about" class="fot_a">О нас</a></span><br>
			</li>
			<li class="pl15">
			<span class="title1 Conv_CRC55"><a href="/wiki/nashi-partnery" class="fot_a">Наши партнеры</a></span><br>
			<span class="title1 Conv_CRC55"><a href="/wiki/optovaia-prodazha" class="fot_a">Оптовая продажа</a></span><br>
			<span class="title1 Conv_CRC55"><a href="/wiki/pokupka-v-kredit" class="fot_a">Покупка в кредит</a></span><br>
			</li>
			</ul> 
		</div--> 
		
		<div class="pull-left ml20">
			<strong class="Conv_CRC55 px17 clearfix">О компании:</strong>
			<ul class="list-inline lh24 mt15  pull-left">
				
				<li>
					<span class="title1 Conv_CRC55"><a class="fot_a" href="/wiki/publichnaia-oferta">Публичная оферта</a></span><br>
					<span class="title1 Conv_CRC55"><a class="fot_a" href="/contacts">Контакты</a></span><br> 
					<span class="title1 Conv_CRC55"><a class="fot_a" href="/about">О нас</a></span><br>
				</li>
				
			</ul>
			
			<ul class="list-inline lh24 mt15 pull-left  ml20">
				
				<li class="ml20">
					<img src="/templates/basic/images/money/sberbank-1.png">
					<img src="/templates/basic/images/money/visa-2.png">
					<img src="/templates/basic/images/money/alfabank-5.png"><br>
					<img src="/templates/basic/images/money/mastercard-3.png">
					<img src="/templates/basic/images/money/yandex-money-7.png">
					<img src="/templates/basic/images/money/qiwi-9.png">
				</li>
			</ul> 
		</div>
		
	</div> 
	
	
    
    <div class="col-xs-12 col-sm-12 col-md-9  col-lg-7 visible-xs">
		<div class="row text-center">
			
			<div class="col-xs-12">
				<strong class="Conv_CRC55 px17 clearfix">Сервис и поддержка:</strong> 
				<ul class="list-inline lh24 mt15">
					<li>
						<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/kak-sdelat-zakaz" class="fot_a">Как сделать заказ</a></span><br>
						<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/vozvrat-tovara" class="fot_a">Возврат товара</a></span><br>
						<span class="title1 Conv_CRC55 vhidden"><a href="/wiki/dostavka" class="fot_a">Доставка</a></span><br> 
					</li>
					<li class="pl15">
						<span class="title1 Conv_CRC55"><a href="/wiki/podarochnye-sertifikaty" class="fot_a">Подарочные сертификаты</a></span><br>
						<span class="title1 Conv_CRC55"><a href="/wiki/sposoby-oplaty" class="fot_a">Способы оплаты</a></span><br>					
						<span class="title1 Conv_CRC55"><a href="/actions" class="fot_a">Акции</a></span><br>
					</li>
				</ul> 
			</div>
			
			<br>
			
			<div class="col-xs-12">
				<strong class="Conv_CRC55 px17 clearfix">О компании:</strong>
				<ul class="list-inline lh24 mt15">
					<li>
						<span class="title1 Conv_CRC55"><a href="/wiki/publichnaia-oferta" class="fot_a">Публичная оферта</a></span><br>
						<span class="title1 Conv_CRC55"><a href="/contacts" class="fot_a">Контакты</a></span><br> 
						<span class="title1 Conv_CRC55"><a href="/about" class="fot_a">О нас</a></span><br>
					</li>
				</ul> 
				
				
				<strong class="Conv_CRC55 px17 clearfix">Способы оплаты:</strong>
				<ul class="list-inline lh24 mt15">
				
				<li class="ml20">
					<img src="/templates/basic/images/money/sberbank-1.png">
					<img src="/templates/basic/images/money/visa-2.png">
					<img src="/templates/basic/images/money/alfabank-5.png"><br>
					<img src="/templates/basic/images/money/mastercard-3.png">
					<img src="/templates/basic/images/money/yandex-money-7.png">
					<img src="/templates/basic/images/money/qiwi-9.png">
				</li>
			</ul> 
			</div> 
			
		</div> 
	</div> 
	
	
	
	
	<div class="col-xs-12 col-sm-12 col-md-4  col-lg-2 hidden-md text-center">                                         
		<strong class="Conv_CRC55 px17 clearfix">Следуйте за нами</strong> 
		<ul class="ul_table mt15">
			<li><a href="https://vk.com/ivantopazov"><img src="/{{config_images_path}}/vk.png"></a></li>
			<li><a href="https://www.facebook.com/groups/311383402637001"><img src="/{{config_images_path}}/fb.png"></a></li>
		<!--li><img src="/{{config_images_path}}/twitter.png"></li-->
			<li><a href="https://www.instagram.com/yuvelirnie_ukrasheniya_topazov/"><img src="/{{config_images_path}}/instagram.png"></a></li>
			<br><br>
			<small class="px7 Conv_CRC55"><h6>Сайт разработан командой: <br><a href="https://vk.com/creativepeople_pw">Creativepeople</a></h6></small>
		</ul>
	</div>
	
</div>  

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "2905033", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "topmailru-code");
</script><noscript><div>
<img src="//top-fwz1.mail.ru/counter?id=2905033;js=na" style="border:0;position:absolute;left:-9999px;" alt="" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->


<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45556173 = new Ya.Metrika({ id:45556173, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45556173" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->