<div class="container theme-showcase" role="main" style="padding-top:28px; ">
	<hr>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb30">
		<div class="pull-left">
			<strong class="Conv_CRC55 px17 clearfix">Ювелирный магазин “Иван Топазов”
			</strong>
			<ul class="list-inline lh24 mt15">
				<li>
					<span class="title1 Conv_CRC55"><a href="/about" class="fot_a">О Компании</a></span>
                    <br>
					<span class="title1 Conv_CRC55"><a href="#" class="fot_a">Новости</a></span>
                    <br>
                    <span class="title1 Conv_CRC55"><a href="#" class="fot_a">Статьи</a></span>
                </li>
				<li style="margin-left: 15px;">
					<span class="title1 Conv_CRC55"><a href="/collections" class="fot_a">Наши бренды</a></span>
                    <br>
					<span class="title1 Conv_CRC55"><a href="/contacts" class="fot_a">Контакты</a></span>
                    <br>
                    <span class="title1 Conv_CRC55"><a href="/wiki/publichnaia-oferta" class="fot_a">Публична оферта</a></span>
                </li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb30">
		<div class="pull-left">
			<strong class="Conv_CRC55 px17 clearfix">Покупателям</strong>
			<ul class="list-inline lh24 mt15">
				<li>
					<span class="title1 Conv_CRC55"><a href="/actions" class="fot_a">Акции и скидки</a></span>
                    <br>
					<span class="title1 Conv_CRC55"><a href="#" class="fot_a">Скупка и обмен ювелирных украшений</a></span>
                    <br>
                    <span class="title1 Conv_CRC55"><a href="/wiki/sposoby-oplaty" class="fot_a">Доставка и способы оплаты</a></span>
                    <br>
                    <span class="title1 Conv_CRC55"><a href="/wiki/podarochnye-sertifikaty" class="fot_a">Подарочные сертификаты</a></span>
                </li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb30">
		<div class="pull-left">
			<strong class="Conv_CRC55 px17 clearfix">8 800 123 45 67</strong>
			<small class="px12 Conv_CRC55">Звонок бесплатный</small>
			<ul class="list-inline lh24 mt15">
				<li>
					<span class="title1 Conv_CRC55"><a href="#" data-target="#modal_callback" data-toggle="modal" class="fot_a">Заказать звонок</a></span>
                    <br>
					<span style="display: block;" class="title1 Conv_CRC55">Заказать в мессенджерах по номеру:
                        <br>
                        <a class="fot_a" href="tel:89999999999" >+7 (999) 999-99-99</a>
                    </span>
                    <span class="title1 Conv_CRC55"></span>
                </li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 hidden-md col-lg-2 mb30">
		<strong class="Conv_CRC55 px17 clearfix">Следуйте за нами</strong>
		<ul class="ul_table mt15">
			<li><a href="https://vk.com/ivantopazov" target="_blank"><img src="/templates/basic/images/vk.png"></a></li>
			<li><a href="https://www.facebook.com/groups/311383402637001" target="_blank"><img src="/templates/basic/images/fb.png"></a></li>
			<li><a href="https://www.instagram.com/yuvelirnie_ukrasheniya_topazov/" target="_blank"><img src="/templates/basic/images/instagram.png"></a></li>
			<br><br>
		</ul>
		<p class="Conv_CRC55 mb0 px12">Разработан силами:</p>
		<p class="Conv_CRC35 mb0 px12">
			<a target="_blank" rel="nofollow" class="fot_a" href="https://vk.com/valentinbelkin">Дизайнера</a>
            <br>
            <a target="_blank" rel="nofollow" class="fot_a" href="https://vk.com/komarov_vladislav">Верстальщика</a>
			и
			<a href="https://vk.com/nikoniki" target="_blank" rel="nofollow" class="fot_a">Программиста</a>
		</p>
	</div>
</div>

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
	var _tmr = window._tmr || (window._tmr = []);
	_tmr.push({
		id: "2905033",
		type: "pageView",
		start: (new Date()).getTime()
	});
	(function(d, w, id) {
		if (d.getElementById(id)) return;
		var ts = d.createElement("script");
		ts.type = "text/javascript";
		ts.async = true;
		ts.id = id;
		ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
		var f = function() {
			var s = d.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(ts, s);
		};
		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else {
			f();
		}
	})(document, window, "topmailru-code");
</script><noscript>
	<div>
		<img src="//top-fwz1.mail.ru/counter?id=2905033;js=na" style="border:0;position:absolute;left:-9999px;" alt="" />
	</div>
</noscript>
<!-- //Rating@Mail.ru counter -->


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function(d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter45556173 = new Ya.Metrika({
					id: 45556173,
					clickmap: true,
					trackLinks: true,
					accurateTrackBounce: true,
					webvisor: true,
					trackHash: true,
					ecommerce: "dataLayer"
				});
			} catch (e) {}
		});
		var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function() {
				n.parentNode.insertBefore(s, n);
			};
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";
		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else {
			f();
		}
	})(document, window, "yandex_metrika_callbacks");
</script> <noscript>
	<div><img src="https://mc.yandex.ru/watch/45556173" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript> <!-- /Yandex.Metrika counter -->
