<div class="hidden_overflow" style="padding-bottom: 0px;">
<div class="container theme-showcase mt10 hidden-xs">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 ">
			<h2 class="Conv_constanb blue_b p15" style="padding-bottom:0;">{{h2}}</h2>  
			<div style="padding:0 15px 15px 15px;">{{text}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 ">
			<h2 class="Conv_constanb blue_b p15" style="padding-bottom:0;">{{h2Second}}</h2>  
			<div style="padding:0 15px 15px 15px;">{{textSecond}}</div>
		</div>
	</div>
</div>
</div>
