<!-- #################### Мобильная версия шапки -->

<div class="container theme-showcase visible-xs" role="main" style="padding-bottom:28px;">

    <div class="col-xs-12 text-center">
        <a href="/" style="font-size: 9px; letter-spacing: 2.4px; "><img src="/{{config_images_path}}/logo.png" class="mt8" width="70%"><br>ЮВЕЛИРНЫЙ ИНТЕРНЕТ МАГАЗИН</a>
	</div>

    <!--div class="col-xs-4 text-center hidden-xs">
		<a href="/cart" unload="MAIN.updateHeaderInfo()">
		<center><div class="ico-4 clearfix"><div class="cart_info"><span id="cartSumma" class="label label-pill label-warning">0</span></div></div></center>
		<div class="pt14 "><span class="title1 Conv_CRC55">Корзина</span></div>
        </a>
	</div-->

	<div class="clearfix">&nbsp;</div>

    <!--div class="col-xs-offset-1 col-xs-11 col-sm-6 col-md-2  col-lg-2 ico-1">
        <span class="title1 Conv_CRC55">Где купить:</span><br>
        <strong class="Conv_CRC55 px20">Москва</strong><br>
        <span class="title2 Conv_CRC55"><a href="#" data-toggle="modal" data-target="#modal_maps_contacts">Наши магазины</a></span>
		</div>


		<div class="clearfix">&nbsp;</div>
	<br><br-->
	<hr>


	<!--div class="col-xs-6 col-sm-6 col-md-2  col-lg-2 ico-1">
        <span class="title1 Conv_CRC55">Где купить:</span><br>
        <strong class="Conv_CRC55 px20">Москва</strong><br>
        <span class="title2 Conv_CRC55"><a href="#" data-toggle="modal" data-target="#modal_maps_contacts">Наши магазины</a></span>
	</div-->
	<div class="row">
    <div class="col-xs-6 col-sm-3 col-md-3  col-lg-2 text-center">
		<div class="ico-2-mobile1">
			<div class="title1">Пн-Вс с 09:00-22:00</div>
			<span class="title2 Conv_CRC55"><a data-target="#modal_callback" data-toggle="modal" href="#" >Заказать звонок</a></span>
		</div>
	</div>

    <div class="col-xs-6 col-sm-6 col-md-3  col-lg-2 ico-3  text-center">
        <strong  class="Conv_CRC55 px20"><span class="Conv_CRC25">8 800 </span> 250-62-21</strong><br>
        <span class="title1 Conv_CRC55">Бесплатный звонок</span>
	</div>
	</div>

	<div class="clearfix">&nbsp;</div>
	  <hr>


</div>


<!-- #################### дектоп и планшет версия шапки -->

<div class="container theme-showcase hidden-xs" role="main" style="padding-bottom:28px;padding-top:28px;">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="/" style="font-size: 9px; letter-spacing: 2.4px; "><img src="/{{config_images_path}}/logo.png" class="mt8"><br>ЮВЕЛИРНЫЙ ИНТЕРНЕТ МАГАЗИН</a>
	</div>
    <div class="col-xs-12 col-sm-6 col-md-2  col-lg-2 ico-1 hidden-sm">
        <span class="title1 Conv_CRC55">Где получить:</span><br>
        <strong class="Conv_CRC55 px20">Москва</strong><br>
        <span class="title2 Conv_CRC55"><a href="#" data-toggle="modal" data-target="#modal_maps_contacts">Пункт выдачи</a></span>
	</div>

    <div class="col-xs-12 col-sm-3 col-md-3  col-lg-2  ico-2">
        <span class="title1">пн-вс с 09:00-22:00</span><br>
        <span class="title2 Conv_CRC55"><a data-target="#modal_callback" data-toggle="modal" href="#" >Заказать звонок</a></span>
	</div>

    <div class="col-xs-12 col-sm-6 col-md-3  col-lg-3 ico-3 hidden-md hidden-sm">

        <strong  class="Conv_CRC55 px20"><span class="Conv_CRC25">8 800 </span> 250-62-21</strong><br>
        <span class="title1 Conv_CRC55">Viber, WhatsApp</span>
	</div>

    <div class="col-xs-12 col-sm-3 col-md-3  col-lg-1 text-center hidden-xs">
        <a href="/cart" unload="MAIN.updateHeaderInfo()">
            <center><div class="ico-4 clearfix"><div class="cart_info"><span id="cartSumma" class="label cartSumma label-pill label-warning">0</span></div></div></center>
            <div class="pt14 "><span class="title1 Conv_CRC55">Корзина</span></div>
		</a>
	</div>
</div>
