<div class="sticky-element" id="sticky">
	<div class="sticky-anchor"></div>
	<div class="sticky-content">
		<nav class="hidden-xs navbar navbar-top Conv_Circe-Bold"
			 style="margin-bottom: 0px; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; background: #ffffff;padding-top: 5px;">
			<div class="container">
				<div class="navbar-header">
					<button aria-controls="navbar2" aria-expanded="false" class="navbar-toggle collapsed"
							data-target="#navbar2" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar2">
					<ul class="nav nav-pills nav-justified">
						<li>
							<a class="ZAG" href="/catalog">Все украшения</a>
						</li>
						<li class="dropdown women_hover">
							<a class="dropdown-toggle ZAG" data-toggle="dropdown1" href="/catalog/kolca">Кольца <b
									class="caret"></b></a>
							<div class="dropdown-menu woman mega-menu px14 list-group1 Conv_CRC35">
								<div class="container">
									<div class="col-md-12">
										<div class="col-sm-6 col-md-3">
											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="/catalog/kolca">Кольца</a></strong></p>
											<p style="margin-bottom:0px;"><a
													href="/catalog/kolca?f[metall]=JoltZoloto|krasnZoloto|belZoloto&f[Cena]=0|90000&s=pricemin&l=44"><img
													src="/templates/basic/images/menu/kolco/zolotoye-colco.jpg"
													style="margin-right: 6px;" width="36px"> Кольца из золота</a></p>
											<!--<p style="margin-bottom:0px;"><a href="/catalog/kolca?f[metall]=serebro&f[Cena]=0|90000&s=pricemax&l=44&t="><img src="/templates/basic/images/menu/kolco/kolco-iz-serebra.jpg" style="margin-right: 6px;" width="36px"> Кольца из серебра</a></p>-->
											<p style="margin-bottom:0px;"><a
													href="/catalog/kolca?f[Cena]=0|90000&s=pop&l=44&t=%D0%9E%D0%B1%D1%80%D1%83%D1%87%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5"><img
													src="/templates/basic/images/menu/kolco/obruchalnoe-kolco-iz-zolota-s-fianitom-017134-874.jpg"
													style="margin-right: 6px;" width="36px"> Обручальные кольца</a></p>
											<!--<p style="margin-bottom:0px;"><a href="/catalog/kolca?f[Cena]=0|90000&s=pop&l=44&t=%D0%9F%D0%BE%D0%BC%D0%BE%D0%BB%D0%B2%D0%BE%D1%87%D0%BD%D0%BE%D0%B5"><img src="/templates/basic/images/menu/kolco/pomolvochnoe-kolco-iz-zolota-s-fianitami-016957-833.jpg" style="margin-right: 6px;" width="36px">Помолвочные кольца</a></p>-->
											<!--p><a href="/catalog/kolca?f[sex]=woman&f[Cena]=0|90000&s=pop&l=44&t=Классическое"><img src="/templates/basic/images/menu/kolco/klassicheskoe-obruchalnoe-kolco-110031-128.jpg" width="36px" style="margin-right: 6px;">Классические обручальные кольца</a></p-->
										</div>
										<!--<div class="col-sm-6 col-md-3">
											<p class="nav-header Conv_CRC55 px18"><strong><a href="/catalog/kolca?f[sex]=men&f[Cena]=0|90000&s=pop&l=44&t=">Для мужчин</a></strong></p>
											<p style="margin-bottom:0px;"><a href="/catalog/kolca?f[metall]=kombinZoloto|krasnZoloto|belZoloto&f[sex]=men&f[Cena]=0|90000&s=pop&l=44&t="><img src="/templates/basic/images/menu/kolco/muzhskoe-kolco-s-oniksom-016428-262.jpg" style="margin-right: 6px;" width="36px"> Кольца из золота</a></p>-->
										<!--<p style="margin-bottom:0px;"><a href="/catalog/kolca?f[metall]=serebro&f[sex]=men&f[Cena]=0|90000&s=pop&l=44&t="><img src="/templates/basic/images/menu/kolco/kolco-s-chernym-oniksom-94010951-328.jpg" style="margin-right: 6px;" width="36px"> Кольца из серебра</a></p>-->
										<!--<p style="margin-bottom:0px;"><a href="/catalog/kolca?f[sex]=men&f[Cena]=0|90000&s=pop&l=44&t=%D0%9E%D0%B1%D1%80%D1%83%D1%87%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5"><img src="/templates/basic/images/menu/kolco/klassicheskoe-obruchalnoe-kolco-110031-128.jpg" style="margin-right: 6px;" width="36px"> Обручальные кольца</a></p>-->
										<!--p style="margin-bottom:0px;"><a href="/catalog/kolca?f[sex]=men&f[Cena]=0|90000&s=pop&l=44&t=Классическое"><img src="/templates/basic/images/menu/kolco/zolotoye-colco.jpg" width="36px" style="margin-right: 6px;">Классические обручальные кольца</a></p-->
										<!--p style="margin-bottom:0px;"><a href="/catalog/kolca?f[sex]=men&f[Cena]=0|90000&s=pop&l=44&t=Комбинированное"><img src="/templates/basic/images/menu/kolco/zolotoye-colco.jpg" width="36px" style="margin-right: 6px;">Комбинированные обручальные кольца</a></p-->
										<!--<p style="margin-bottom:0px;"><a href="/catalog/kolca?f[sex]=men&f[Cena]=0|90000&s=pop&l=44&t=%D0%9F%D0%B5%D1%87%D0%B0%D1%82%D0%BA%D0%B0"><img src="/templates/basic/images/menu/kolco/pechatka-iz-zolota-s-oniksom-i-fianitami-015840-1305.jpg" style="margin-right: 6px;" width="36px"> Печатки</a></p>
									</div>-->
										<div class="visible-sm clearfix"></div>
										<div class="col-sm-6 col-md-3">
											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="#">Вставка</a></strong></p>

											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/kolco/kolco-iz-zolota-s-fianitami-017116-302.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=fianit&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с фианитом</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/kolco/kolco-iz-zolota-s-brilliantami-i-korundom-sapfirovym-sint--2011015-1262.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=brilliant&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с бриллиантами</a></p>
										</div>
										<div class="col-sm-6 col-md-2" style="padding:0 5px;">
											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="#">&nbsp;</a></strong></p>

											<p style="margin-bottom:0px;"><img
													src="/uploads/products/100/kolco-s-brilliantom-i-rubinom_11063-103_17591.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=rubin&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с рубинами</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/kolco/kolco-iz-zolota-s-topazom-i-fianitami-713990-127.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=topaz&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с топазом</a></p>
										</div>
										<div class="col-sm-6 col-md-2" style="padding:0 5px;">

											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="#">&nbsp;</a></strong></p>

											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/kolco/kolco-iz-zolota-s-ametistom-i-fianitami-713930-1349.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=ametist&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с аметистом</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/kolco/kolco-iz-zolota-s-granatom-i-fianitami-713821-962.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=granat&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с гранатом</a></p>


											<!--<p><a href="/catalog/kolca?f[kamen]=citrin&f[Cena]=0|90000&s=pop&l=44&t=">Кольца с цитрином</a></p>

											<p><a href="/catalog/kolca?f[kamen]=agat&f[Cena]=0|90000&s=pop&l=44&t=">Кольца с агатом</a></p>
											<p><a href="/catalog/kolca?f[kamen]=kvarc&f[Cena]=0|90000&s=pop&l=44&t=">Кольца с кварцом</a></p>
											<p><a href="/catalog/kolca?f[kamen]=jantar&f[Cena]=0|90000&s=pop&l=44&t=">Кольца с янтарем</a></p>
											<p><a href="/catalog/kolca?f[kamen]=opal&f[Cena]=0|90000&s=pop&l=44&t=">Кольца с опалом</a></p>-->


										</div>
										<div class="col-sm-6 col-md-2" style="padding:0;">
											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="#">&nbsp;</a></strong></p>

											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/kolco/kolco-iz-zolota-s-izumrudom-3010536-1265.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=izumrud&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с изумрудами</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/kolco/kolco-iz-zolota-s-zhemchugom-i-krasnymi-fianitami-791020-1382.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=jemchug&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с жемчугом</a></p>
										</div>
										<!--<div class="col-sm-6 col-md-3">
											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="#">&nbsp;</a></strong></p>

											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/kolco/kolco-iz-zolota-s-fianitami-i-hrizolitom-713817-163.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/kolca?f[kamen]=hrizolit&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с хризолитом</a></p>

											<p style="margin-bottom:0px;"><img
													src="/uploads/products/100/kolco-iz-belogo-zolota-s-brilliantom-i-sapfirom_1-1457-1000_2797.jpg"
													width="36px" style="margin-right: 6px;"> <a
													href="/catalog/kolca?f[kamen]=sapfir&f[Cena]=0|90000&s=pop&l=44&t=">Кольца
												с сапфирами</a></p>
										</div>-->
									</div>
								</div>
							</div><!-- dropdown-menu -->
						</li><!-- /.кольца -->
						<li class="dropdown women_hover">
							<a class="dropdown-toggle ZAG" data-toggle="dropdown1" href="/catalog/sergi">Серьги <b
									class="caret"></b></a>
							<div class="dropdown-menu woman mega-menu px14 list-group1 Conv_CRC35">
								<div class="container">
									<div class="col-md-12">
										<div class="col-sm-4 col-md-3">
											<p class="nav-header Conv_CRC55 px18"><strong><a href="/catalog/sergi">Серьги</a></strong>
											</p>
											<p style="margin-bottom:0px;"><a
													href="/catalog/sergi?f[metall]=JoltZoloto|krasnZoloto|belZoloto&f[Cena]=0|90000&s=pop&l=44&t="><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-topazami-i-fianitami-722999-779.jpg"
													style="margin-right: 6px;" width="36px"> Серьги из золота</a></p>
											<!--<p style="margin-bottom:0px;"><a href="/catalog/sergi?f[metall]=serebro&f[Cena]=0|90000&s=pop&l=44&t="><img src="/templates/basic/images/menu/sergi/sergi-iz-serebra-s-krasnymi-i-chernymi-fianitami-94022376-1098.jpg" style="margin-right: 6px;" width="36px"> Серьги из серебра</a></p>-->
											<p style="margin-bottom:0px;"><a
													href="/catalog/sergi?f[sex]=woman&f[Cena]=0|90000&s=pop&l=44&t=%D0%9F%D1%83%D1%81%D0%B5%D1%82%D1%8B"><img
													src="/templates/basic/images/menu/sergi/sergi-pusety-iz-zolota-s-topazami-720046-1150.jpg"
													style="margin-right: 6px;" width="36px"> Серьги пусеты</a></p>
											<!--<p style="margin-bottom:0px;"><a href="/catalog/sergi?f[sex]=woman&f[Cena]=0|90000&s=pop&l=44&t=%D0%9A%D0%BE%D0%BD%D0%B3%D0%BE"><img src="/templates/basic/images/menu/sergi/sergi-kongo-iz-zolota-140003-1139.jpg" style="margin-right: 6px;" width="36px"> Серьги конго</a></p>-->
										</div>
										<div class="col-md-3">
											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="#">Вставка</a></strong></p>
											<!--<p style="margin-bottom:0px;"><img src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-sinimi-i-zelenymi-fianitami-027090-612.jpg" style="margin-right: 6px;" width="36px"> <a href="/catalog/sergi?f[kamen]=fianit&f[Cena]=0|90000&s=pop&l=44&t=">Серьги с фианитом</a></p>-->
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-brilliantami-1021012-663.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=brilliant&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с бриллиантами</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-izumrudami-3020414-683.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=izumrud&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с изумрудами</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-zhemchugom-i-fianitami-792048-605.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=jemchug&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с жемчугом</a></p>
											<!--p><a href="/catalog/sergi?f[kamen]=rubin&f[Cena]=0|90000&s=pop&l=44&t=">Серьги с рубинами</a></p-->
										</div>
										<div class="col-md-3">
											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="#">&nbsp;</a></strong></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-topazami-i-fianitami-723773-709.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=topaz&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с топазом</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-ametistami-i-fianitami-723947-1087.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=ametist&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с аметистом</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-kombinirovannogo-zolota-s-granatami-i-fianitami-724594-1521.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=granat&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с гранатом</a></p>
										</div>
										<div class="col-md-3">
											<p class="nav-header Conv_CRC55 px18"><strong><a
													href="#">&nbsp;</a></strong></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-agatami-724778-761.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=agat&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с агатом</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-brilliantami-i-sapfirami-2020802-743.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=sapfir&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с сапфирами</a></p>
											<p style="margin-bottom:0px;"><img
													src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-fianitami-i-citrinami-724104-738.jpg"
													style="margin-right: 6px;" width="36px"> <a
													href="/catalog/sergi?f[kamen]=citrin&f[Cena]=0|90000&s=pop&l=44&t=">Серьги
												с цитрином</a></p>
											<!--<p style="margin-bottom:0px;"><img src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-fianitami-i-hrizolitami-723910-658.jpg" style="margin-right: 6px;" width="36px"> <a href="/catalog/sergi?f[kamen]=hrizolit&f[Cena]=0|90000&s=pop&l=44&t=">Серьги с хризолитом</a></p>-->
											<!--<p style="margin-bottom:0px;"><img src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-fianitami-i-citrinami-724104-738.jpg" style="margin-right: 6px;" width="36px"> <a href="/catalog/sergi?f[kamen]=citrin&f[Cena]=0|90000&s=pop&l=44&t=">Серьги с цитрином</a></p>
											<p style="margin-bottom:0px;"><img src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-agatami-724778-761.jpg" style="margin-right: 6px;" width="36px"> <a href="/catalog/sergi?f[kamen]=agat&f[Cena]=0|90000&s=pop&l=44&t=">Серьги с агатом</a></p>--><!--p style="margin-bottom:0px;"><img src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-kvarcem-i-fianitami-724469-1596.jpg" width="36px" style="margin-right: 6px;"><a href="/catalog/sergi?f[kamen]=kvarc&f[Cena]=0|90000&s=pop&l=44&t=">Серьги с кварцом</a></p>



                                        <p style="margin-bottom:0px;"><img src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-miksom-kamney-724352-728.jpg" width="36px" style="margin-right: 6px;"><a href="/catalog/sergi?f[kamen]=jantar&f[Cena]=0|90000&s=pop&l=44&t=">Серьги с янтарем</a></p>
                                            <p style="margin-bottom:0px;"><img src="/templates/basic/images/menu/sergi/sergi-iz-zolota-s-opalami-i-fianitami-724524-622.jpg" style="margin-right: 6px;" width="36px"> <a href="/catalog/sergi?f[kamen]=opal&f[Cena]=0|90000&s=pop&l=44&t=">Серьги с опалом</a></p>-->
										</div>
									</div>
								</div>
							</div><!-- dropdown-menu -->
						</li><!-- /.серьги -->
						<li>
							<a class="ZAG" href="/catalog/podveski">Подвески</a>
						</li>
						<li>
							<a class="ZAG" href="/catalog/braslety">Браслеты</a>
						</li>
						<!--<li>
							<a class="ZAG" href="/catalog/brosh">Броши</a>
						</li>-->
						<li>
							<a class="ZAG" href="/catalog/cepochki">Цепи</a>
						</li>
						<li class="dropdown women_hover">
							<a class="dropdown-toggle ZAG" data-toggle="dropdown1" href="/collections">Коллекции <b
									class="caret"></b></a>
							<div class="dropdown-menu woman mega-menu px14 list-group1 Conv_CRC35">
								<div class="container">
									<div class="col-md-12">
										<div class="col-md-4">
											<p style="margin-bottom:0px;"><a
													href="/collections/kaborovsky"><img
													src="/uploads/collections/kobarovskiy.jpg"
													style="margin-right: 6px;" width="36px"> Ювелирный Дом
												Кабаровских</a></p>

											<p style="margin-bottom:0px;"><a
													href="/collections/alcor"><img
													src="/uploads/collections/alcor.jpg"
													style="margin-right: 6px;" width="36px"> Ювелирная фабрика
												Алькор</a></p>
										</div>
										<div class="col-md-4">
											<p style="margin-bottom:0px;"><a
													href="/collections/master_brilliant"> <img
													src="/uploads/collections/master.jpg"
													style="margin-right: 6px;" width="36px"> Мастер Бриллиант</a></p>

											<p style="margin-bottom:0px;"><a
													href="/collections/trofimova_jewellery"><img
													src="/uploads/collections/trofimova.jpg"
													style="margin-right: 6px;" width="36px"> Trofimova jewellery</a></p>
										</div>
										<div class="col-md-4">
											<p style="margin-bottom:0px;"><a
													href="/collections/yuvelirnye_traditsii"><img
													src="/uploads/collections/yuvelirnye_traditsii.jpg"
													style="margin-right: 6px;" width="36px"> Ювелирные Традиции</a></p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>

				</div>
			</div>
		</nav>
	</div>
</div>
