				
<div class="bg-preim min-h500">
    <div class="container  mt10" role="main">
        
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 text-center mt45 pb30">	
            
            <h2 class="Conv_Circe-Bold ZAG pb30 white"><span class="title_line1">С НАМИ УДОБНО</span></h2>
            
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pb15 text-center">
            
            <img src="/{{config_images_path}}/ico-auto.png" class="">
            <div class="clearfix"></div><br>
            <h3 class="white px20 Conv_CRC55 mt15 ZAG clearfix">БЕСПЛАТНАЯ ДОСТАВКА </h3>
            
            <span class="line_t clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="clearfix"></div>
            <p class="white">Бесплатная доставка по Москве и ближнему Подмосковью</p>
            
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 pb15 col-lg-3 text-center">
            
            <img src="/{{config_images_path}}/ico-podarok.png" class="">
            <div class="clearfix"></div><br>
            <h3 class="white px20 Conv_CRC55 mt15 ZAG clearfix">ФУТЛЯР В ПОДАРОК</h3>
            
            <span class="line_t clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="clearfix"></div>
            <p class="white">Бесплатная подарочная упаковка к вашему украшению</p>
            
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pb15 text-center">
            
            <img src="/{{config_images_path}}/ico-ragantia2.png" class="">
            <div class="clearfix"></div><br>
            <h3 class="white px20 Conv_CRC55 mt15 ZAG clearfix">ГАРАНТИЯ 10 ЛЕТ</h3>
            
            <span class="line_t clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="clearfix"></div>
            <p class="white">На все украшения представленные <br>в каталоге сайта</p>
            
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pb15 text-center">
            
            <img src="/{{config_images_path}}/ico-proc.png" class="">
            <div class="clearfix"></div><br>
            <h3 class="white px20 Conv_CRC55 mt15 ZAG clearfix">СИСТЕМА СКИДОК</h3>
            
            <span class="line_t clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="clearfix"></div>
            <p class="white">У нас гибкая система скидок, с расчетам индивидуальности вашего выбора</p>
            
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center mt55 ">
            
            <a href="/catalog" class="btn-event Conv_Circe-Bold ZAG white_a">Перейти в каталог</a>
            
        </div>
        <div class="clearfix pb50">&nbsp;</div>
    </div>
</div>		