<!DOCTYPE html>
<html lang="ru">
	<head>
    
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
                
		<meta name="viewport" content="width=device-width, initial-scale=1  , user-scalable=no">
		<meta name="yandex-verification" content="b362063327cdb5df" />
		<!--meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no"-->
         <meta property="og:image" content="/uploads/baners/slides3.jpg">
        
		
		<link rel="icon" href="/templates/basic/images/favicon_red/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="/templates/basic/images/favicon_red/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/templates/basic/images/favicon_red/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/templates/basic/images/favicon_red/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/templates/basic/images/favicon_red/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/templates/basic/images/favicon_red/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/templates/basic/images/favicon_red/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/templates/basic/images/favicon_red/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/templates/basic/images/favicon_red/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/templates/basic/images/favicon_red/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/templates/basic/images/favicon_red/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/templates/basic/images/favicon_red/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/templates/basic/images/favicon_red/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/templates/basic/images/favicon_red/favicon-16x16.png">
		<link rel="manifest" href="/templates/basic/images/favicon_red/manifest.json">
		<meta name="msapplication-TileImage" content="/templates/basic/images/favicon_red/ms-icon-144x144.png">
		
        
		<title>{{title}}</title>
		        
		<link rel="stylesheet" href="/{{addons_folder}}/styles/bootstrap.css"/>
		<link rel="stylesheet" href="/{{addons_folder}}/styles/bootstrap-theme.css"/>
        
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="/{{addons_folder}}/assets/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="/{{addons_folder}}/assets/ie-emulation-modes-warning.js"></script>
        
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug >
		<link href="/{{addons_folder}}/assets/ie10-viewport-bug-workaround.css" rel="stylesheet"-->
		
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="/{{addons_folder}}/assets/html5shiv.min.js"></script>
			<script src="/{{addons_folder}}/assets/respond.min.js"></script>
		<![endif]-->
        
		<link rel="stylesheet" href="/{{addons_folder}}/styles/fonts.css"/>
        
        <link rel="stylesheet" href="/{{config_styles_path}}/style.css"/>
        
		{{seo}}
		
		<!— Google Tag Manager —>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WCTFN7D');</script>
		<!— End Google Tag Manager —>
	</head>
	
	<body>
		
		<!— Google Tag Manager (noscript) —>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCTFN7D"
								height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!— End Google Tag Manager (noscript) —>

        {{navTop}}
    
        {{header}}

        {{navMenu}}
        
        {{breadcrumb}}
        
        {{content}}
        
        {{komplect}}
        
        {{VamPonravitsa}}
        
        {{preimushchestva}} 
        
        {{footer}}
        
        {{load}}
        
		{{resorses}}
		
	 
        
    </body>
</html>