<div class="container">
	<div class="col-xs-12">
		
		<p><h3>О Нас</h3></p>
		
		<p>Интернет-магазин ювелирных украшений &laquo;ИВАН ТАПАЗОВ&raquo; не смотря на свой относительно не большой срок существования, в краткий промежуток времени смог завоевать доверие тысяч покупателей по всей Российской Федерации. Ежемесячный рост компании 12%, доказывает, что благодаря качеству продукции и высокому сервису обслуживания, большинство потребителей совершают повторные покупки.</p>
		
		<p><strong>Наши сильные стороны</strong></p>
		
		<ul>
			<li>У нас работают сотрудники, имеющие многолетний опыт в сфере ювелирной продукции, которые в ручную просматривают каждое украшение, тем самым исключая попадания в каталог сайта недоброкачественные изделия.</li>
			<li>Ассортимент магазина ювелирной группы компаний («Монарх», «Настоящее золото») обновляется каждую неделю, представляя широкому вниманию большой выбор продукции которая подойдёт под любые требования, вне зависимости от пола и возраста.</li>
			<li>Интернет-магазин несет ответственность в рамках законодательства РФ, и оберегает своих покупателей от не качественных услуг и контрафактной продукции</li>
			<li>При помощи нашей логистической системе, мы быстрые сроки осуществляем доставку ювелирной продукции до покупателя.</li>
			<li>Для завоевания лояльности нашей аудитории, мы еженедельно проводим скидочные акции, которые позволяют выгодно приобрести понравившееся вам украшение.</li>
			<li>7 дней в неделю, 24 часа в сутки, наши специалисты с радостью помогут вам с выбором украшения.&nbsp;&nbsp;</li>
			<li>Вам могут привезти несколько изделий на примерку.</li>
		</ul>
		
	</div>
</div>