<!--section>
	<div class="container content">
		<div class="row pt20 pb20 bg-page">
			<div class=" col-lg-8 col-md-8 col-sm-12 col-xs-12"> 
				<h2 class="fon23s fon26lh pt0 pb20">Контакты</h2>
				
				<form action="/contacts/send" role="form" method="POST" id="support" success="Ev.contacts.success" data_type="json">
				
					<div class="row form-group borbot pt20 pr20 pb20 pl20 ml3 bagav">
						<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<label class="control-label pt0 col444">Контактное лицо<tred>*</tred></label>
						</div>
						<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12">
							<input type="text" name="name" required autocomplete="true" class="form-control" maxlength="200" placeholder="Как к вам обращаться ">
						</div>					
					</div>
					
					<div class="row form-group borbot pt20 pr20 pb20 pl20 ml3 bagav">
						<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<label class="control-label pt0 col444">Ваш Телефон<tred>*</tred></label>
						</div>
						<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12">
							<input type="phone" name="phone" required autocomplete="true" class="form-control phone-mask" placeholder="Ваш контактный телефон">
						</div>					
					</div>
					
					<div class="row form-group borbot pt20 pr20 pb20 pl20 ml3 bagav">
						<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<label class="control-label pt0 col444">Содержание<tred>*</tred></label>
							<p class="px11">Доступно 2000 символов</p>
						</div>
						<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12">
							<textarea name="mess" required autocomplete="true" class="form-control" placeholder="Опишите текст вашего обращения" rows="5" cols="50" ></textarea>
						</div>					
					</div>
										
					<button class="btn btn-primary block full-width pt10 pr20 pb10 pl20 mb20 mt20 ml5" type="submit" disabled="true">Отправить</button>
				</form>
			</div>
		</div>
		
		
		
	</div>
</section-->	
<div class="container content pt30">

<div class="col-lg-6">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A03c4a0acc55d7dca09ce75fba90c0e4734ce854fe8fd98fa13d787d4b4a99476&amp;width=100%25&amp;height=580&amp;lang=ru_RU&amp;scroll=false"></script>
</div>
<div class="col-lg-6">
	<h1>Контакты:</h1>

<p><strong>Адрес главного офиса:</strong> г. Москва, метро&nbsp; Выставочная, Пресненская набережная д. 2, офис 215</p>

<p><strong>Часы работы офиса:</strong> с 09:00 до 22:00 </p>

<p><strong>Тел.: </strong><strong>+7 (905) 623-65-05</strong></p>

<p><a href="mailto:info@ivantopazov.ru">info@ivantopazov.ru</a></p>
</div>
</div>