 

<p>Компания &laquo;ИВАН ТОПАЗОВ&raquo; осуществляет бесплатную доставку в приделах г. Москва и ближнего Подмосковья в радиусе 6 км от МКАД.</p>

<p>Украшение доставляется в тот же день с учетом того, что заказ был совершен до 09:00 по Московскому времени. В случае если заказ был осуществлён после 09:00, то доставка производится в течении следующего рабочего дня. По вашему желанию, мы можем привести несколько ювелирных изделий, для того чтобы подобрать необходимый для вас размер.</p>

<p><h3>Срочная доставка</h3></p>

<p>Так же в случае если вам понадобилась срочная доставка украшения, мы готовы привести его в максимально быстрые сроки.&nbsp; Стоимость будит рассчитываться индивидуально, в зависимости от месторасположения</p>

<p><h3>Доставка по России</h3></p>

<p>При покупки украшения в регионе, доставка осуществляется нашими партнерами, компаниями &laquo;СДЕК&raquo; и &laquo;SPSR&raquo; по сниженным тарифам.</p>

<p>Дополнительную информацию по тел. <strong>+7 (495) 230-26-83</strong></p>