<p class="px18">1. Вы можете связаться с менеджером по почте или телефону еще до оформления заказа, чтобы
   подобрать интересующее Вас изделие. Вы также можете узнать о наличии товара, его размер и характеристики.</p>
<p class="px18">2. Выбрав изделие, можно выбрать Быстрый заказ или оформить заказ в Корзине. Пожалуйста,
   внимательно проверьте ВСЕ заполненные поля на наличие ошибок!</p>
<p class="px18">3. После оформления с Вами свяжется наш менеджер и уточнит все детали заказа.</p>

<h2 style="font-size: 38px;">Оплата и доставка:</h2>

<p class="px18">
   4. Наша доставка осуществляется курьерской службой DPD.<br>
   <span style="text-indent: 20px; display: block;"><b>Доставка по Москве и МО</b> - бесплатно, в течение 3-х дней.</span>
   <span style="text-indent: 20px; display: block;"><b>Доставка в регионы РФ</b> - по таблице:</span>
</p>

<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Город <span
  class="pull-right">Стоимость доставки*</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Воронеж <span class="pull-right">350-450</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Волгоград <span class="pull-right">380-600</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Ростов-на-Дону <span class="pull-right">380-600</span>
</div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Краснодар <span class="pull-right">380-600</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Владикавказ <span class="pull-right">440-650</span>
</div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Махачкала <span class="pull-right">430-640</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Астрахань <span class="pull-right">400-610</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Саратов <span class="pull-right">400-610</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Санкт-Петербург <span class="pull-right">370-580</span>
</div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Ярославль <span class="pull-right">360-570</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Нижний Новгород <span class="pull-right">360-570</span>
</div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Мурманск <span class="pull-right">440-650</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Архангельск <span class="pull-right">420-630</span>
</div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Самара <span class="pull-right">380-590</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Казань <span class="pull-right">380-590</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Уфа <span class="pull-right">400-610</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Пермь <span class="pull-right">400-610</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Сыктывкар <span class="pull-right">410-620</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Омск <span class="pull-right">490-700</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Новосибирск <span class="pull-right">440-650</span>
</div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Красноярск <span class="pull-right">490-700</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Иркутск <span class="pull-right">540-750</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Якутск <span class="pull-right">1010-1220</span></div>
<div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px; margin-left: 20px;">Хабаровск <span class="pull-right">650-860</span></div>
<div class="Conv_CRC55 px17 mb10" style="text-indent: 20px;">*Стоимость доставки варьируется от стоимости и веса
   изделия и времени доставки. Точную стоимость Вам сообщит менеджер.
</div>
<div class="Conv_CRC55 px17" style="text-indent: 20px; margin-bottom: 10px;">Доставка по РФ для заказов от 50 тысяч рублей - <b>бесплатно</b>.</div>

<p class="px18">5. Вы оплачиваете украшение непосредственно после того как курьер нашей компании привезет
   его на указанный вами адрес, и проведет презентацию с примеркой. Оплата проводится как наличным, так и безналичным
   расчетом.</p>