<p style="font-size: 18px;">1. Вы можете связаться с менеджером по почте или телефону еще до оформления заказа, чтобы
   подобрать интересующее Вас изделие. Вы также можете узнать о наличии товара, его размер и характеристики.</p>
<p style="font-size: 18px;">2. Выбрав изделие, можно выбрать Быстрый заказ или оформить заказ в Корзине. Пожалуйста,
   внимательно проверьте ВСЕ заполненные поля на наличие ошибок!</p>
<p style="font-size: 18px;">3. После оформления с Вами свяжется наш менеджер и уточнит все детали заказа.</p>

<h2 style="font-size: 38px;">Оплата и доставка:</h2>

<p style="font-size: 18px;">4. Наша доставка осуществляется курьерской службой DPD.</p>
<p style="font-size: 18px;">5. Вы оплачиваете украшение непосредственно после того как курьер нашей компании привезет
   его на указанный вами адрес, и проведет презентацию с примеркой. Оплата проводится как наличным, так и безналичным
   расчетом.</p>