<p class="px18">1. Вы можете связаться с менеджером по почте или телефону еще до оформления заказа, чтобы
   подобрать интересующее Вас изделие. Вы также можете узнать о наличии товара, его размер и характеристики.</p>
<p class="px18">2. Выбрав изделие, можно выбрать Быстрый заказ или оформить заказ в Корзине. Пожалуйста,
   внимательно проверьте ВСЕ заполненные поля на наличие ошибок!</p>
<p class="px18">3. После оформления с Вами свяжется наш менеджер и уточнит все детали заказа.</p>

<h2 style="font-size: 38px;">Оплата и доставка:</h2>

<p class="px18">
   4. Наша доставка осуществляется курьерской службой DPD.<br>
   <span
     style="text-indent: 20px; display: block;"><b>Доставка по Москве и МО</b> - бесплатно, в течение 3-х дней.</span>
   <span style="text-indent: 20px; display: block;"><b>Доставка в регионы РФ</b> - по таблице:</span>
</p>

<center>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Город <span
     class="pull-right">Стоимость доставки*</span></div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Воронеж <span class="pull-right">590-690</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Волгоград <span
     class="pull-right">620-840</span></div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Ростов-на-Дону <span
     class="pull-right">620-840</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Краснодар <span
     class="pull-right">620-840</span></div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Владикавказ <span
     class="pull-right">680-890</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Махачкала <span
     class="pull-right">670-880</span></div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Астрахань <span
     class="pull-right">640-850</span></div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Саратов <span class="pull-right">640-850</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Санкт-Петербург <span
     class="pull-right">610-820</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Ярославль <span
     class="pull-right">600-810</span></div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Нижний Новгород <span
     class="pull-right">600-810</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Мурманск <span class="pull-right">680-890</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Архангельск <span
     class="pull-right">660-870</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Самара <span class="pull-right">620-830</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Казань <span class="pull-right">620-830</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Уфа <span class="pull-right">640-850</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Пермь <span class="pull-right">640-850</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Сыктывкар <span
     class="pull-right">650-860</span></div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Омск <span class="pull-right">730-940</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Новосибирск <span
     class="pull-right">680-890</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Красноярск <span
     class="pull-right">730-940</span></div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Иркутск <span class="pull-right">780-990</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Якутск <span class="pull-right">1250-1460</span>
   </div>
   <div class="Conv_CRC55 px17 mb10 bor_bot" style="width: 320px;">Хабаровск <span
     class="pull-right">890-1100</span></div>
   <div class="Conv_CRC55 px17 mb10" style="text-indent: 20px;">*Стоимость доставки варьируется от стоимости и веса
      изделия и времени доставки. Точную стоимость Вам сообщит менеджер.
   </div>
   <div class="Conv_CRC55 px17" style="text-indent: 20px; margin-bottom: 10px;">Доставка по РФ для заказов от 50 тысяч
      рублей - <b>бесплатно</b>.
   </div>
</center>

<p class="px18">5. Вы оплачиваете украшение непосредственно после того как курьер нашей компании привезет
   его на указанный вами адрес, и проведет презентацию с примеркой. Оплата проводится как наличным, так и безналичным
   расчетом.</p>