<p>Способы заказа товаров на сайте zolotomo.ru</p>

<p>Для того чтобы оформить заказ на понравившееся вам украшение, необходимо сделать одно из предложенных действий.&nbsp;</p>

<p><strong>Способ 1:</strong></p>

<ul>
	<li>Вы отправляете в корзину товаров заинтересовавшее вас украшение, либо проходите по прямой ссылки на карточку товара.</li>
	<li>Затем проходите в корзину.</li>
	<li>Открываете карточку товара.</li>
	<li>Выбираете необходимый размер.</li>
	<li>Вписываете контактную информацию для того чтобы мы смогли с вами связаться для определения удобного времени для доставки вашего украшения.</li>
	<li>Совершаете оплату через предложенные на сайте системы расчетов.</li>
</ul>

<p>&nbsp;</p>

<p><strong>Способ 2:</strong></p>

<ul>
	<li>Вы, выбираете поправившееся вас украшение.</li>
	<li>Переходите на карточку товара.</li>
	<li>Запоминаете артикул товара.</li>
	<li>Звоните на прямую линию ювелирной группы компаний («Монарх», «Настоящее золото»)</li>
	<li>Сообщаете менеджеру: артикул, размер и адрес доставки.</li>
	<li>Вы выбираете наиболее удобный способ оплаты предложенный менеджером, и оплачиваете вашу покупку от 27.07.2006 N152-ФЗ</li>
</ul>
 
<p>&nbsp;</p>

<h5>При сборе контактной информации, ювелирная группа компаний («Монарх», «Настоящее золото») обязуется сохранить ваши данные и не передавать их третьим лицам в соответствии с законом Российской &nbsp;Федерации от 27.07.2006г. N 152-ФЗ</h5>
 
