<div class="row">	
	
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb30">
	<a href="#" class="pull-left btn-event Conv_Circe-Bold button hover-shadows"  onclick="history.back();return false;">Вернкться к товару </a></div>
	
	
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><img src="/uploads/wiki/kakVibratKolco/1.jpg" width="100%"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><img src="/uploads/wiki/kakVibratKolco/2.jpg" width="100%"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><img src="/uploads/wiki/kakVibratKolco/3.jpg" width="100%"></div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h1>Таблица размеров</h1>
	
	<table class="table table-hover mt20" cellspacing="0" cellpadding="0" border="0" align="center" frame="hsides" style="border: 0pt solid #000000;  ">   
<tbody>
	 

	
<tr valign="middle" align="center"> 
<td >
<p class="a0"><strong>Окружность пальца, мм </strong></p>
</td> 
<td >
<p class="a0"><strong>Размер<br></strong></p>
</td>
</tr>

<tr style="background-color: #e6e6e4; text-align: center;">
 
<td >
<p class="a0">44.0</p>
</td> 
<td >
<p class="a0">14</p>
</td>
</tr>


<tr style="text-align: center;">
 
<td >
<p class="a0">45.2</p>
</td> 
<td >
<p class="a0">14 1/2</p>
</td>
</tr>
<tr style="background-color: #e6e6e4; text-align: center;">
 
<td >
<p class="a0">46.5</p>
</td> 
<td >
<p class="a0">15</p>
</td>
</tr>
<tr style="text-align: center;"> 
<td >
<p class="a0">47.8</p>
</td> 
<td >
<p class="a0">15 1/2</p>
</td>
</tr>
<tr style="background-color: #e6e6e4; text-align: center;"> 
<td >
<p class="a0">49.0</p>
</td> 
<td >
<p class="a0">15 3/4</p>
</td>
</tr>
<tr style="text-align: center;"> 
<td >
<p class="a0">50.3</p>
</td> 
<td >
<p class="a0">16</p>
</td>
</tr>
<tr style="background-color: #e6e6e4; text-align: center;"> 
<td >
<p class="a0">51.5</p>
</td> 
<td >
<p class="a0">16 1/2</p>
</td>
</tr>
<tr style="text-align: center;"> 
<td >
<p class="a0">52.8</p>
</td> 
<td >
<p class="a0">17</p>
</td>
</tr>
<tr style="background-color: #e6e6e4; text-align: center;"> 
<td >
<p class="a0">54.0</p>
</td> 
<td >
<p class="a0">17 1/4</p>
</td>
</tr>
<tr style="text-align: center;"> 
<td >
<p class="a0">55.3</p>
</td> 
<td >
<p class="a0">17 3/4</p>
</td>
</tr>
<tr style="background-color: #e6e6e4; text-align: center;"> 
<td >
<p class="a0">56.6</p>
</td> 
<td >
<p class="a0">18</p>
</td>
</tr>
<tr style="text-align: center;"> 
<td >
<p class="a0">57.8</p>
</td> 
<td >
<p class="a0">18 1/2</p>
</td>
</tr>
<tr style="background-color: #e6e6e4; text-align: center;">
 
<td >
<p class="a0">59.1</p>
</td> 
<td >
<p class="a0">19</p>
</td>
</tr>

<tr style="text-align: center;"> 
<td >
<p class="a0">60.3</p>
</td> 
<td >
<p class="a0">19 1/2</p>
</td>
</tr>

<tr style="background-color: #e6e6e4; text-align: center;"> 
<td >
<p class="a0">61.6</p>
</td> 
<td >
<p class="a0">20</p>
</td>
</tr>

<tr style="text-align: center;"> 
<td >
<p class="a0">62.8</p>
</td> 
<td >
<p class="a0">20 1/4</p>
</td>
</tr>

<tr style="background-color: #e6e6e4; text-align: center;"> 
<td >
<p class="a0">64.1</p>
</td> 
<td >
<p class="a0">20 3/4</p>
</td>
</tr>

<tr style="text-align: center;"> 
<td >
<p class="a0">65.3</p>
</td> 
<td >
<p class="a0">21</p>
</td>
</tr>

<tr style="background-color: #e6e6e4; text-align: center;"> 
<td >
<p class="a0">66.6</p>
</td> 
<td >
<p class="a0">21 1/4</p>
</td>
</tr>

<tr style="text-align: center;"> 
<td >
<p class="a0">67.9</p>
</td> 
<td >
<p class="a0">21 3/4</p>
</td>
</tr>

<tr style="background-color: #e6e6e4; text-align: center;"> 
<td >
<p class="a0">69.1</p>
</td> 
<td >
<p class="a0">22</p>
</td>
</tr>
 

</tbody>
</table>
	</div>


</div>