<p><strong>1. Определения</strong></p>

<p>В настоящем документе взаимодействующие стороны оперируют терминами, которые, в контексте данного документа, имеют следующее значение.</p>

<p>Продавец&nbsp;&mdash; ООО &laquo;Иван Топазов&raquo;, имеющий статус юридического лица.

<p>Интернет-магазин &laquo;Иван Топазов&raquo; &ndash; официальный интернет-магазин, принадлежащий Продавцу, интернет адрес: <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>Покупатель&nbsp;&ndash; физическое лицо, осуществляющее покупку Товара на условиях настоящей оферты.</p>

<p>Товар&nbsp;&ndash; перечень ювелирной продукции, предоставляемой Продавцом в офисе продаж &laquo;Иван Топазов&raquo; или на сайте&nbsp;<a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>Заказ&nbsp;&ndash; намерения Покупателя совершить покупку Товара. Заказ осуществляется на сайте&nbsp;<a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>Акцепт&nbsp;&ndash; действия Покупателя, направленные на осуществление Заказа и последующей оплаты Товара. Акцепт считается завершенным, когда Заказ сформирован и оплата в 100% виде поступила в кассу Продавца.</p>

<p>Услуги &ndash; услуги по доставке, исходящие со стороны Продавца. Условия доставки доводятся до сведения Покупателя на сайте&nbsp;<a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>Анкета Покупателя&nbsp;&mdash; персональные данные Покупателя, которые указываются при Заказе.</p>

<p>Надлежащее качество товара&nbsp;&mdash; состояние товара, отвечающее обязательным требованиям к товару, предусмотренные законом РФ или договором. Такое качество предусматривает безопасность при использовании по целевому назначению и гарантирует отсутствие недостатков при получении Товара Клиентом при доставке.</p>

<p>Ненадлежащее качество товара&nbsp;&mdash; состояние товара, которое не отвечает обязательным требованиям, предусмотренным законом РФ и условиям договора. Такое качество не гарантирует безопасность при использовании не по целевому назначению.</p>

<p style="margin-left:35.4pt"><br />
<strong>2. Общие положения</strong></p>

<p>2.1. Настоящий Договор определяет порядок купли-продажи Товаров и Услуг в интернет-магазине &laquo;Иван Топазов&raquo; и является публичной офертой в соответствии со ст. 426, 435, и частью 2 ст. 437 Гражданского кодекса Российской Федерации.</p>

<p>2.2. Акцептом настоящей оферты (договора) считается оформление Покупателем заказа на Товар в соответствии с условиями настоящей оферты. Покупатель, заключая Договор с Продавцом, автоматически соглашается с условиями настоящего Договора.</p>

<p>2.3. Настоящий Договор-оферта является договором присоединения (ст. 428 Гражданского кодекса Российской Федерации).</p>

<p>2.4. Продавец в одностороннем порядке принимает и изменяет условия Договора. В отношениях между Продавцом и Клиентом применяются положения Договора, действующие на момент Акцепта.</p>

<p>2.5. Отношения между Покупателем и Продавцом регулируются:</p>

<p>- настоящим Договором;</p>

<p>- Гражданским кодексом Российской Федерации;</p>

<p>- Законом Российской Федерации &laquo;О защите прав потребителей&raquo;;</p>

<p>- Постановлением Правительства Российской Федерации от 19.01.1998г. № 55 &laquo;Об утверждении Правил продажи отдельных видов товаров, перечня товаров длительного пользования, на которые не распространяется требование покупателя о безвозмездном предоставлении ему на период ремонта или замены аналогичного товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации; Постановлением Правительства Российской Федерации от 21 июля 1997 г. № 918 &laquo;Об утверждении правил продажи товаров по образцам&raquo;;</p>

<p>- Постановлением Правительства Российской Федерации от 27 сентября 2007 г. № 612 &laquo;Об утверждении правил продажи товаров дистанционным способом&raquo;;</p>

<p>- Постановлением Правительства Российской Федерации от 21 июля 1997 г. № 918 &laquo;Об утверждении правил продажи товаров по образцам&raquo;;</p>

<p>- Постановлением Правительства Российской Федерации от 13 мая 1997 г. № 575 &laquo;Об утверждении Перечня технически сложных товаров, в отношении которых требования потребителя об их замене подлежат удовлетворению в случае обнаружения в товарах существенных недостатков&raquo;</p>

<p>- Федеральным законом Российской Федерации от 27 июля 2006 г. № 152-ФЗ &laquo;О персональных данных&raquo;</p>

<p>&nbsp;</p>

<p style="margin-left:35.4pt"><strong>3. Предмет соглашения</strong></p>

<p>3.1. Покупатель осуществляет сделку купли-продажи с Продавцом, после чего последний предоставляет Товар или оказывает Услугу за соответствующую плату.</p>

<p>3.2. Покупатель приобретает Товар по цене, которую устанавливает Продавец. При осуществлении Заказа устанавливается одна стоимость, однако она может изменяться Продавцом в любое время. Расценки ассортимента являются справочными и могут пересматриваться Продавцом исходя из внешней ценовой политики и прочих условий. Покупатель может интересоваться ценой на сайте <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a> или по телефону +7 (495) 230-26-83.</p>

<p>3.3. Порядок заказа Товара определен гл. 4 настоящего Договора.</p>

<p>3.4. Порядок и условия доставки Товара определены в гл. 5 настоящего Договора.</p>

<p>&nbsp;</p>

<p><strong>4. Порядок заказа и оплаты Товара</strong></p>

<p>4.1.Заказ Товара осуществляется:&nbsp;</p>

<p>- в офисе продаж интернет-магазина &laquo;Иван Топазов&raquo;;</p>

<p>- на сайте <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>;</p>

<p>- по телефону +7 (495) 230-26-83.</p>

<p>4.2. Факт Заказа подтверждается следующими документами: товарный чек, накладная, электронная форма Заказа (на сайте&nbsp;<a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>).</p>

<p>4.3. Покупатель, осуществляя заказ на сайте <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>, соглашается на подписку обновлений относительно Товаров и Услуг интернет-магазина &laquo;Иван Топазов&raquo;, приходящих в виде писем на электронную почту или SMS-уведомлений. Если Покупатель не желает получать обновления, то необходимо направить электронное письмо на адрес <a href="https://vk.com/write?email=info@ivantopazov.ru" target="_blank">info@ivantopazov.ru</a>.</p>

<p>4.4. Товар оплачивается наличными или безналичным расчетом, исходя из цены, которую установит Продавец.</p>

<p>4.5. Оплата товара наличными происходит в интернет-магазине &laquo;Иван Топазов&raquo; в момент осуществления Заказа или в момент передачи Товара. Также курьер Продавца или платежный агент Продавца имеет право принимать денежные средства от Покупателя.</p>

<p>4.6. Оплата товара по безналичному расчету осуществляется через платежную карту банка. Также Покупатель может перечислить денежные средства на расчетные счета Продавца. Также возможно использование электронных средств платежа в соответствии с Федеральным законом № 161-ФЗ от 27.06.2011 г. &laquo;О национальной платежной системе&raquo;. Покупатель может совершить оплату посредством почтового перевода по реквизитам Продавца, указанным на сайте <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>4.7. Товар считается оплаченным со дня внесения всей суммы денежных средств в оплату всего приобретенного Товара.</p>

<p>4.8. В момент получения Товара, что подтверждается товарным чеком (накладной/актом приема-передачи), Покупатель приобретает право собственности на Товар. Продавец в этот момент считается исполнившим свои обязанности по договору купли-продажи.</p>

<p>4.9 Если Покупатель не получил Товар в течение 15 дней со дня формирования заказа по причинам, не зависящим от Продавца, Заказ автоматически аннулируется. Акцепт будет считаться несостоявшимся. По истечении 15 дней Продавец вправе отказаться от исполнения обязательств по настоящему Договору без уведомления Покупателя.</p>

<p>&nbsp;</p>

<p><strong>5. Доставка товара</strong></p>

<p>5.1. Способ, сроки и порядок доставки товара устанавливаются настоящим Договором.</p>

<p>5.2. В пределах Российской Федерации доставка Товара осуществляется бесплатно при сумме заказа от 7000 руб. с учетом всех скидок на изделия.</p>

<p>5.3. Дата, время и адрес доставки согласовываются между Продавцом и Покупателем и отображаются в Заказе. Продавец имеет право устанавливать и изменять правила оказания услуг по доставке Товара.</p>

<p>5.4. Правила оказания услуг по доставке Товара выложены на сайте <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>5.5. Если Услуги были не оказаны из-за халатности Покупателя, Продавец вправе требовать их оплаты в полном объеме. Повторное пользование Услугами по доставке оплачивается Покупателем по тарифам Продавца, размещенным на сайте&nbsp;<a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>&nbsp;</p>

<p><strong>6. Гарантия на товар.</strong></p>

<p>6.1. На всю продукцию, продающуюся в Интернет-магазине &laquo;Иван Топазов&raquo;, имеются все необходимые сертификаты качества.</p>

<p>6.2. Продавец несет ответственность за недостатки, обнаруженные в Товаре (Услуги) в течение гарантийных сроков</p>

<p>6.3. Гарантийный срок эксплуатации на Товар устанавливает производитель. Срок гарантии указывается в гарантийном талоне.</p>

<p>6.4. Если гарантийный срок не установлен изготовителем, Продавец устанавливает гарантийный срок в 10 (десять) лет, не считая дня продаж.</p>

<p>6.5. На отдельные виды товаров предусмотрены более длительные сроки гарантии.</p>

<p>6.6. Требования, заявленные Покупателем по истечении гарантийных сроков, рассматриваются Продавцом в порядке, установленном законодательством.</p>

<p>&nbsp;</p>

<p><strong>7. Обмен товара</strong></p>

<p>7.1. Порядок обмена Товара устанавливается Продавцом.</p>

<p>7.2. Покупатель имеет право обменять приобретенный Товар надлежащего качества в течение 7 (семи) календарных дней, не считая дня продажи.</p>

<p>7.3 Обмен может быть реализован при следующих условиях:&nbsp;</p>

<p>- товар не был в употреблении;&nbsp;</p>

<p>- сохранены его товарный вид, потребительские свойства;&nbsp;</p>

<p>- имеется документ, подтверждающий оплату;&nbsp;</p>

<p>- сохранена бирка производителя, целостность нитки, соединяющей бирку и изделие не нарушена.</p>

<p>7.4 В случае обнаружения недостатков в Товаре, Покупатель имеет право:&nbsp;</p>

<p>- отказаться от Товара;&nbsp;</p>

<p>- потребовать замены на Товар этой же или другой модели (с перерасчетом цены);&nbsp;</p>

<p>- потребовать уменьшения цены Товара или безвозмездного устранения недостатков Товара.</p>

<p>7.5. Для обмена товара Покупатель имеет право:&nbsp;</p>

<p>- обратиться в офис продаж интернет-магазина &laquo;Иван Топазов&raquo;: г. Москва, метро&nbsp; Выставочная, Пресненская набережная д. 2, офис 215&nbsp;</p>

<p>- заполнить заявление на сайте <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>;</p>

<p>- оформить заявление по телефону +7 (495) 230-26-83.</p>

<p>7.6. Услуги курьерской службы или транспортной организации Продавца, связанные с обменом Товара, оплачиваются Покупателем по тарифам, определенным Продавцом и размещенным на сайте&nbsp;<a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>6.7. Продавец имеет право устанавливать иные условия обмена Товара, не связанные с ухудшением условий Покупателя в соответствии с настоящим Договором и законодательством. Подробнее о порядке обмена и тарифах оказываемых услуг Покупатель может узнать по телефону +7 (495) 230-26-83.</p>

<p>7.8. Обмен Товара надлежащего качества при сохранении заводской пломбы осуществляется только один раз и при наличии паспорта Покупателя.</p>

<p>&nbsp;</p>

<p><strong>8. Возврат денежных средств</strong></p>

<p>8.1. Покупатель имеет право вернуть приобретенный Товар надлежащего качества в течение 3 (трех) календарных дней, не считая дня продажи.</p>

<p>8.2. Возврат денежных средств возможен в следующих случаях:&nbsp;</p>

<p>- товар не был в употреблении;&nbsp;</p>

<p>- сохранены его товарный вид, потребительские свойства;&nbsp;</p>

<p>- имеется товарный чек или кассовый чек или иной подтверждающий оплату указанного товара документ;&nbsp;</p>

<p>- при возврате ювелирных украшений сохранена бирка производителя, целостность нитки, соединяющей бирку и изделие не нарушена.</p>

<p>8.3. Для возврата денежных средств Покупатель имеет право:&nbsp;</p>

<p>- обратиться в офис продаж интернет-магазина &laquo;Иван Топазов&raquo;: г. Тула, ул. Московская, д. 17, офис 17;&nbsp;</p>

<p>- заполнить заявление на сайте <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>;</p>

<p>- оформить заявление по телефону +7(495) 230-12-58.</p>

<p>8.4. Покупатель полностью отвечает за расходы, связанные с возвратом Товара.</p>

<p>8.5. Если Товар полностью или частично оплачен, то возврат средств осуществляется в течение 10 рабочих дней после подачи заявки. Покупателю при возврате Товара перечисление денежных средств осуществляется на банковский счет.</p>

<p>8.6. Возврат Товара надлежащего качества при сохранении заводской пломбы осуществляется только один раз, при наличии паспорта Покупателя.</p>

<p>&nbsp;</p>

<p><strong>9.Пава и обязанности Покупателя и Продавца.</strong></p>

<p>9.1. Покупатель имеет право:</p>

<p>&nbsp;9.1.1 Потребовать замены товара в соответствии п.7 настоящего Договора.</p>

<p>9.1.2. Потребовать возврата денег в соответствии п.8 настоящего Договора.</p>

<p>9.2. Покупатель обязан:</p>

<p>9.2.1 До момента заключения Договора ознакомиться с содержанием договора-оферты, условиями оплаты и доставки на сайте магазина <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>.</p>

<p>9.2.2. Предоставлять достоверные персональные данные в Анкете Покупателя, в том числе достоверные данные в отношении лиц, которые будут иметь полномочия получить Товар в отсутствии Покупателя.</p>

<p>9.2.3 Явиться согласно времени и месту, обговоренному с Продавцом, принять и оплатить Товар.</p>

<p>9.3. Продавец имеет право:</p>

<p>9.3.1 В одностороннем порядке принимать и изменять условия Договора в соответствии с п. 2.4 настоящего Договора.</p>

<p>9.3.2 Аннулировать заказ в соответствии со п. 4.9 настоящего Договора.</p>

<p>9.3.3. Если Услуги не оказаны из-за халатности Покупателя, Продавец имеет вправо требовать 100% оплату в соответствии со п. 5.4 настоящего Договора.</p>

<p>9.3.4. Продавец имеет право отказаться от своих обязанностей по данному договору, если лицо, принимаемое Товар, не подтвердило свои полномочия соответствующими документами.</p>

<p>9.4. Продавец обязан:</p>

<p>9.1.1. Не разглашать любую частную информацию Покупателя и не предоставлять доступ к этой информации третьим лицам, за исключением случаев, предусмотренных Российским законодательством и настоящим Договором.</p>

<p>9.1.2. Предоставить Покупателю возможность получения бесплатных телефонных консультаций по телефонам, указанным на сайте магазина <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>. Объем консультаций ограничивается конкретными вопросами, связанными с выполнениями Заказа.</p>

<p>&nbsp;</p>

<p><strong>10. Ответственность сторон и разрешение споров.</strong></p>

<p>10.1 Клиент несет ответственность:</p>

<p>10.1.1 За вручение заказанного Товара любому из указанных им в Заказе лиц.</p>

<p>10.1.2. За достоверность и полноту указанных им сведений.</p>

<p>10.2 Продавец или его представитель несет ответственность за своевременную передачу Товара Клиенту.</p>

<p>10.3. Продавец и Клиент (далее &ndash; &laquo;Стороны&raquo;) несут ответственность за неисполнение или ненадлежащее исполнение настоящего Договора в порядке, предусмотренном настоящим Договором и действующим законодательством РФ.</p>

<p>10.4. Продавец не несет ответственности за доставку Заказа, если Клиентом указан неправильный адрес доставки.</p>

<p>10.5. Продавец не несет ответственности, если ожидания Покупателя о потребительских свойствах Товара оказались не оправданны.</p>

<p>10.6. Продавец не несет ответственности за частичное или полное неисполнение обязательств по доставке Товара, если они являются следствием форс-мажорных обстоятельств.</p>

<p>10.7. Все споры и разногласия, возникающие при исполнении Сторонами обязательств по настоящему Договору, решаются путем переговоров. В случае невозможности их устранения, Стороны имеют право обратиться за судебной защитой своих интересов</p>

<p>10.8. Стороны несут ответственность за неисполнение или ненадлежащее исполнение настоящего Договора в порядке, предусмотренном настоящим Договором и действующим законодательством РФ.</p>

<p>&nbsp;</p>

<p><strong>11. Персональные данные</strong></p>

<p>11.1. Принимая условия настоящего Договора Покупатель дает согласие на обработку Продавцом персональных данных, указанных в Анкете либо Документе о продаже в целях исполнения обязательств по настоящему договору, а также на передачу персональной информации третьим лицам в целях исполнения настоящего Договора.</p>

<p>11.2. Любые сведения, указанные Покупателем в Заказе, считаются достоверными и исходящими непосредственно от Покупателя.</p>

<p>11.3. Все споры и разногласия, связанные с исполнением настоящего договора, подлежат рассмотрению и разрешению в порядке, установленном законодательством.</p>

<p>11.4. В том случае, если Покупателем является индивидуальный предприниматель или юридическое лицо, предварительный досудебный порядок является обязательным. Потерпевшая сторона заявляет о своих претензиях к Продавцу в течение 10 (десяти) дней со дня их возникновения. Продавец должен рассмотреть заявление в течение 10 (десяти) дней со дня ее получения. Если соглашение не достигнуто сторонами, дело переходит для рассмотрения и разрешения в Арбитражный суд г. Москвы.</p>

<p style="margin-left:35.4pt"><br />
<strong>12. Подарочные сертификаты</strong></p>

<p>12.1 Общие положения.</p>

<p>12.1.1 Интернет-магазин &laquo;Иван Топазов&raquo; выпускает собственные Подарочные сертификаты.</p>

<p>12.2.2. С помощью подарочного сертификата Покупатель может совершить покупку любых товаров, представленных в ювелирном интернет-магазине &laquo;Иван Топазов&raquo; на сайте <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>, по ценам, действующим на момент приобретения товара.&nbsp;</p>

<p>12.2.3. Когда срок действия подарочного сертификата истек, возврат остатка денежных средств невозможен.</p>

<p>12.2.4. Подарочный сертификат можно купить только наличными средствами или безналичным способом. Запрещается использовать для покупки подарочного сертификата бонусные рубли или другой подарочный сертификат.</p>

<p>12.2.5. При покупке Подарочного сертификата клиенту начисляются бонусные рубли, сумма бонусов составляет 5% от стоимости сертификата.</p>

<p>12.2.6. Продавец не несет ответственность за кражу, утерю подарочного сертификата, и не обеспечивает возврат денежных средств.&nbsp;</p>

<p>12.2.7. Срок действия Подарочных сертификатов номиналом от 3 000 до 40 000 рублей составляет 12 месяцев с даты продажи ПС, если иное не указано в договоре с физическим или юридическим лицом.&nbsp;</p>

<p>12.2.9. Срок действия Подарочных сертификатов номиналом от 40 000 до 70 000 рублей составляет 24 месяцев с даты продажи ПС, если иное не указано в договоре с физическим или юридическим лицом.</p>

<p>12.2.10. Обмен и возврат некачественных товаров, приобретенных с использованием Подарочного сертификата, осуществляется в соответствии с п.7 настоящего Договора.</p>

<p>12.2 Иные условия.</p>

<p>12.2.1. Номинал Подарочного сертификата, выданного в рамках партнерского соглашения, полностью или частично, не подлежит обмену на денежные средства.</p>

<p>12.2.2. Подарочный сертификат обмену и возврату не подлежит.&nbsp;</p>

<p>12.2.3. Компания оставляет за собой право вносить любые изменения в условия обращения Подарочных сертификатов в любое время без предварительного уведомления владельцев подарочных сертификатов. Информация об указанных изменениях доступна на сайте Компании &laquo;Иван Топазов&raquo; <a href="http://www.ivantopazov.ru">www.ivantopazov.ru</a>, а также по телефону Горячей линии +7(495) 230-12-58. Владелец Подарочных сертификатов должен самостоятельно отслеживать изменения в условиях обращения Подарочных сертификатов.</p>

<p>&nbsp;</p>

<p><strong>13. Форс-мажорные обстоятельства.</strong></p>

<p>13.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору на время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и непреодолимые при данных условиях обстоятельства, препятствующие исполнению своих обязательств Сторонами по настоящему Договору. К ним относятся стихийные явления (землетрясения, наводнения и т. п.), обстоятельства общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и т. п.), запретительные меры государственных органов (запрещение перевозок, валютные ограничения, международные санкции запрета на торговлю и т. п.). В течение этого времени Стороны не имеют взаимных претензий, и каждая из Сторон принимает на себя свой риск последствия форс-мажорных обстоятельств.</p>

