<p>Ели приобретенное ювелирное изделие в течение 7 дней с момента покупки оказалось велико, или его эстетический вид вам не подошел, то интернет <a name="_GoBack">магазин &laquo;Иван Топазов&raquo; проведет обмен на другое изделие, либо совершит </a>возврат денежных средств, с учетом сохраненной бирки, чека, и идеального внешнего вида без признаков ношения.</p>

<p>В случаи если вами был обнаружен брак технического характера, то наш магазин в краткие сроки совершит обмен товара.</p>

<p>Заявку на обмен и возврат денежных средств вы сможете оформить по тел. <strong>+7 (495) 230-26-83</strong></p>
 
