Новая заявка на заказ на сайте {{domen}} <br />
[ {{type}} ] <br />
==================================<br />

{% for val in tovary %} 
    <img src="{{http}}/uploads/products/100/{{val.image}}" width="23" /> {{val.articul}} - <a href="{{http}}{{val.link}}" target="_blank">{{val.title}}</a> по цене: {{val.price}} руб. х {{val.qty}} ед. = {{val.summa}} руб. <br />
{% endfor %}
------------------------------<br />
Общая сумма: {{summa}} руб.<br />
<br />
Тракер: {{traker}} <br />
Имя клиента: {{name}} <br />
Телефон: {{phone}} <br />
Адресс: {{adress}} <br /><br />
{{ulmLabels}}<br />
==================================<br />
Авторассылка уведомлений сайта {{domen}}<br />
{{date}}