Новая заявка на сайте {{domen}} <br />
[ {{type}} ] <br />
==================================<br />

Имя клиента: {{name}} <br />
Телефон: {{phone}} <br /><br />
Комментарий: {{comment}} <br /><br />
Желаемый размер: {{size}} <br /><br />

Товар:<br />

<img src="{{http}}/uploads/products/100/{{product.modules.photos[0].photo_name}}" width="50" style="vertical-align: middle;" /> {{product.articul}} - <a href="{{http}}{{product.modules.linkPath}}" style="color: #337ab7;" target="_blank">{{product.title}}</a> по цене: {{product.modules.salePrice.VAL_00.salePrice}} руб. <br /><br />


{{ulmLabels}}<br />

==================================<br />
Авторассылка уведомлений сайта {{domen}}<br />
{{date}}