<div class="text-left cart_line container" id="cart">

	<div class="clearfix col-lg-12 mt30 mb30">
		<h3 class="ZAG">Ваша корзина</h3>
		<!--<a href="#" click="CART.removeAll( MAIN.cartPages );" title="Очистить корзину">
			<img src="/templates/basic/images/close.png" class="pull-right mt15">
		</a>-->
	</div>

	<div class="col-lg-12 cartBlock hidden">

		<div unload="MAIN.cartPagesWithRefresh()" class="cartList"></div>

<!--
		<div class="rows ml0 mr0 mt30 mb30 clearfix">
			<div class="col-xs-12">

				<div class="row">

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<input style="width: 100%;" class="form-control text-left lato" id="promocode"
							   placeholder="Промокод" type="text"/>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<button type="button" class="btn-use-promocode Conv_Circe-Bold ZAG" click="MAIN.usePromocode()">Применить</button>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<span id="promocodeInfo" class="hidden">
							Применен промокод <span class="promocodeCode"></span>. Скидка <span class="promocodeValue"></span>
						</span>
						<a href="#" id="promocodeRemove" class="hidden" click="MAIN.removePromocode()">
							<img src="/templates/basic/images/delet.png">
						</a></div>

				</div>

			</div>
		</div>
-->

		<div class="col-xs-12 col-sm-12 col-xs-md col-lg-12 clearfix">
			<div class="Conv_CRC25 row plm15" style="background: #282828;">
				<div id="navbar3" class="navbar-collapse collapse visible-xs visible-sm visible-md visible-lg">
					<ul class="nav navbar-nav pt10 pb10 white pull-left">
						<li>Итого: <span class="Conv_Circe-Bold px20 white" id="itog"></span> <span
								class="Conv_Circe-Bold px20 white" id="itogWithPromocode"></span></li>
					</ul>
					<ul class="nav navbar-nav pull-right hidden">
						<li>
							<a href="#" class="Conv_Circe-Bold white">
								<u>Оформить заказ</u>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

	<div class="hidden mt40" id="emptyCart">
		<div class="col-xs-12 pl15">
			В вашей корзине заказов нет
		</div>
	</div>

	<p id="DeliverInfo" class="hidden text-left mt10 col-xs-12"></p>


	<div class="rows ml0 mr0 mt30 hidden" id="order_info">
		<div class="col-xs-12 pl15 mt30">

			<form action="/cart/order" method="post" onsubmit="yaCounter45556173.reachGoal('send-order');" requare="MAIN.FORM.requare" before="MAIN.FORM.before"
				  success="MAIN.FORM.success" data_type="json">
				<div class="row">

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<p class="mb5"><input style="width: 100%;" class="form-control text-left  lato" name="fio"
											  placeholder="ФИО" type="text"></p>

						<p class="mb5"><input style="width: 100%;" class="form-control text-left phone-mask lato"
											  name="phone" placeholder="Телефон в формате +7ХХХХХХХХХХ" type="text"></p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<p class="mb5"><input style="width: 100%;" class="form-control text-left  lato" name="city"
											  placeholder="Город" type="text"></p>
						<p class="mb5"><input style="width: 100%;" class="form-control text-left  lato" name="address"
											  placeholder="Адрес" type="text"></p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<p class="mb5"><input style="width: 100%;" class="form-control text-left  lato" name="email"
											  placeholder="Ваш E-mail" type="text"></p>
						<p class="mb5"><input style="width: 100%;" class="form-control text-left  lato" name="times"
											  placeholder="Когда с Вами удобно связаться?" type="text"></p>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<p class="px15 ff-osw mb10 fw100">С условиями <a href="/wiki/publichnaia-oferta"
																		 target="_blank"><u>договора оферты</u></a> соглашаюсь
						</p>

						{{utmLabels}}
						<p>
							<button type="submit" class="btn-event Conv_Circe-Bold ZAG mt13" href="#">Отправить заявку
							</button>
						</p>

					</div>
				</div>
			</form>

		</div>
	</div>


</div>

<div aria-hidden="true" role="dialog" tabindex="-1" id="modal_promocode_success" class="modal inmodal fade">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-header">
				<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Корзина покупок</h4>
			</div>
			<div class="modal-body ev-modal_data">
				<p class="px27 fw300"> Промокод успешно применен. </p>
				<p class="px17 fw300">Применен промокод <span class="promocodeCode"></span>. Скидка <span class="promocodeValue"></span></p>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn-cart Conv_CRC55  text-center ZAG" type="button">Продолжить
					оформление заказа
				</button>
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" role="dialog" tabindex="-1" id="modal_promocode_failed" class="modal inmodal fade">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-header">
				<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Корзина покупок</h4>
			</div>
			<div class="modal-body ev-modal_data">
				<p class="px27 fw300"> Ошибка применения промокода. </p>
				<p class="px17 fw300" id="promocodeError"></p>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn-cart Conv_CRC55  text-center ZAG" type="button">Продолжить
					оформление заказа
				</button>
			</div>
		</div>
	</div>
</div>
<div aria-hidden="true" role="dialog" tabindex="-1" id="modal_promocode_removed" class="modal inmodal fade">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-header">
				<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Корзина покупок</h4>
			</div>
			<div class="modal-body ev-modal_data">
				<p class="px27 fw300"> Промокод отменен. </p>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn-cart Conv_CRC55  text-center ZAG" type="button">Продолжить
					оформление заказа
				</button>
			</div>
		</div>
	</div>
</div>
