<div class="min-h500">
    <div class="container theme-showcase mt10 " role="main">
    
        <div class="row ml0 mr0" id="cart" >
            <div class="col-xs-12">
                <p class="px18 mt10 ff-osw text-center text-primary">Заказ успешно отправлен, Спасибо! Скоро с Вами свяжется наш сотрудник.</p>  
                <p class="mt10 ff-osw text-center text-primary"><a href="/catalog" class="ml0" style="border: 2px #ffa800 solid; padding: 10px 20px; color: #ffa800;">Вернуться в каталог</a></p>
            </div>
        </div>
        
   </div>
</div>