<div class="container theme-showcase">

    <div class="row">        
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 pt30">
            <img src="/uploads/actions/big/{{item.photo_name}}" width="100%">
            <h2 class=" Conv_constanb"><strong>{{item.title}}</strong></h2>            
            <p class="px25 Conv_constanb hidden"><strong>1+1=3</strong></p>            
            <p class="Conv_CRC55 px20">{{item.anonse}}</p>
            <div class="text">
                {{item.text}}
            </div>
        </div> 
    </div>
    
    <div class="row mt20">
        {{products}}
    </div>
    
    <div class="row text-center">
        {{item.modules.Products.option.pag}}
    </div>
    
</div> 