{% if items |length > 0 %}	
	{% for item in items %} 
		<div class="col-lg-3 animated bounceIn" item_id='{{item.id}}'>
			<div class="row ml0 mr0 bg-gray">
				<div class="col-xs-12">
					<div class="ph ph-clouse"> <a href="#" click="Ev.products_edit.FORM.set_images.photo_remove( {{item.id}} );" ><i class="material-icons text-danger">remove_circle</i> </a> </div>
					<div class="ph ph-defined"> <a href="#" click="Ev.products_edit.FORM.set_images.set_define( {{item.id}} );" ><i class="material-icons {% if item.define == '1' %}text-primary{% endif %}">check_circle</i> </a> </div>
				</div>
			</div>
			<div class="row ml0 mr0 bg-gray">
				<div class="col-xs-12 pt15 pb15 d-f-center-center">
					<a href="#">
					<img class="auto-width-height" src="/uploads/products/250/{{item.photo_name}}">
				</a>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}